html,body{
	margin:0;
	background:#eee;
	font-family:'Open Sans',sans-serif;
	font-size:125%;
	min-height:min-content;
}
body{
	text-align:Center;
	height:100vh;
}
body:before {
	content: '';
	display: inline-block;
	height: 100%; 
	vertical-align: middle;
}
.popup{
	box-shadow: 0 0.25rem 3rem -1.5rem;
	border-radius: .5rem;
	border:1px solid #ddd;
	padding:1rem;
	box-sizing: content-box;
	background:#fff;
	display: inline-grid;
	grid-template: "logo""form""result";
	text-align:left;
	vertical-align: middle;
	transition: width 2s ease 0s;
	width:auto;
}
@media screen and (orientation: landscape) {
	.popup{
		grid-template:"logo result""form result";
	}
}
#logo{
	grid-area:logo;
}
form{
	grid-area:form;
	padding-top:1rem;
}
#result{
	display:none;
    margin: auto;
	grid-area:result;
}

input{
	box-sizing:border-box;
	display:block;
	width:100%;
	padding:1rem;
	outline: none!important;
}
input:not([type="submit"]){
	margin-top:1.5rem;
	border:2px solid #ddd;
	background:#eee;
}
input + span{
	display:block;
	background:#3f87a6;
	height:.25rem;
	width:0;
	transition:width .2s ease 0s; 
}
input[data-hadFocus=true]:not([value=""]) + span{ background:#53b055; }
input[data-hadFocus=true][value=""] + span{ background:#c00000;}
input:focus + span, 
input[data-hadFocus=true]  + span,
input[data-hadFocus=true] + span{width:100%;}
label{    
	position: relative;
	height:0;
	left:1rem;
    top: -2.5rem;
	transition:top .2s ease 0s,color .2s ease 0s;
	color: #ccc;
}
input:focus + span + label,
input[data-hadFocus=true]:not([value=""])+ span + label{
	top:-5rem;
	color: black;
}
input[type="submit"]{
	margin-top:0;
	border:0;
	border-bottom:.2rem solid #005661;
	border-radius:.25rem;
	background: #00838e;
	color:white;
	font-size:1rem;
	cursor:pointer;
}
input[type="submit"]:hover,
input[type="submit"]:focus{
	text-decoration:underline
}
input[type="submit"]:active{
	margin-top:.2rem;
	border-bottom:0;
}